.header{
	background-color: #000;
	width: 100%;
	/*height: 80px;*/
	z-index: 4;
}
.container{
	width: 90%;
	margin: 0 auto;
}
.header-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-logo{
	display: flex;
	align-items: center;
	/*line-height: 80px;*/
}
.header-logo img{
	height: 60px;
}
.header-logo a{
	color: #fff;
	padding-left: 20px;
	font-size: 25px;	
	font-family: 'Russo One', sans-serif;
}
.header-nav ul{
	display: flex;
	padding-right: 10px;
}
.header-nav a{
	color: #fff;
	line-height: 80px;
	/*padding: 0 10px;*/
	padding-left: 10px;
	font-family: 'Russo One', sans-serif;
	/*font-family: 'Noto Sans', sans-serif;*/
	font-size: 18px;
	font-weight: 100;
	white-space: nowrap;
	
}
.header-nav a:hover{
	color: yellow;
}
.guitar_dropdown{
	display: none;
	position: absolute;
	z-index: 4;

}
.guitar_dropdown_btn:hover .guitar_dropdown{
	display: flex;
	flex-direction: column;
	background-color: #000;
}
.guitar_dropdown_btn:hover a{
	background-color: #000;
}

.header-nav-close{
	display: none;
	color: #fff;
}
.header-nav-close:hover{
	color: yellow;
}

.header-menu{
	display: none;
	color: #fff;
	font-size: 30px;
	/*line-height: 80px;*/
}
.contacts{
	color: #fff;
	font-size: 16px;
	white-space: nowrap;
}
@media screen and (max-width: 1000px){
	.header-menu{
		display: block;
		cursor: pointer;
		
	}
	.header-nav{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		background-color: #000;
		right: -100vw;
		padding-right: 20px;
		text-align: center;
		cursor: pointer;
		transition: .3s;
	}
	.header-nav.active{
		right: 0;
		transition: .3s;
	}
	.header-nav ul{
		flex-direction: column;
		align-items: center;
	}
	.header-nav-close{
		display: block;
	}
}
@media screen and (max-width: 449px){

	.header-inner{
		flex-direction: column;
		justify-content: space-around;
	}
	.header{
		height: 180px;
	}
	.header-logo h1{
		padding-left: 10px;
		font-size: 20px;
	}
	.header-logo{
		flex-direction: column;
	}
	.header-logo img{
		height: 50px;
		margin: 10px 0;
	}
	.contacts{
		color: #fff;
		font-size: 16px;
	}
}
