body{
	background-color: #F4F4F4;
}

.heading{
	padding: 0 100px;
	text-align: center;
	font-size: 30px;
	/*font-weight: bold;*/
	font-family: 'Russo One', sans-serif;
}
.block-inner{
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.block-item{
	width: calc(33.3% - 20px);
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #fff;
}
.block-item h3{
	font-family: 'Russo One', sans-serif;
	padding-bottom: 10px;
}
.block-item img{
	max-height: 200px;
	max-width: 200px;
	padding: 10px;
}
.imgprev{
	position: relative;
	
}
.block-item:hover{
	/*border: 1px dotted gray;*/
	box-shadow: 5px 5px 15px rgba(20, 20, 30, .2);

}

.head_and_ref{
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.head_and_ref a{
	color: #000;
}

@media screen and (max-width: 767px){
	.block-item{
		width: calc(50% - 10px);
		margin:  5px;
	}
}
@media screen and (max-width: 449px){
	.block-item{
		width: 100%;
		margin: 15px 0;
	}
}
